<div class="padding" ng-controller="AdvisorInputController">

  <super-navbar>
  </super-navbar>

	<form novalidate class="simple-form">
        
        <div class="item item-divider label-dark">
           <span class="input-label label-dark">Suggestion for {{curr_event.get('title')}} @ 
            	 <span ng-bind="curr_event.get('time') | date: 'shortTime'"></span>
            </span>
        </div>
        
    <div ng-show="!responded.value">    
    <label class="item item-input item-select">
        <span class="input-label"> Past Suggestions</span>
            <select ng-options= "sugg as sugg.title for sugg in suggestions track by sugg.id" ng-model="selected">
        </select>
      </label>
      <label class="item item-input">
        <span class="input-label">New Suggestion:</span>
             <input type="text" ng-model="advisor.suggestion" />
      </label>
        
        <div class="item item-divider label-dark">
           <span class="input-label label-dark">Tip:</span>
                    </div>
             <label class="item item-input">
                   <textarea cols="40" rows="5" type="text" ng-model="advisor.tip"></textarea>
                </label>
     </div>
        
     <div ng-show="responded.value">
         
          <label class="item item-input">
        <span class="input-label">Current Suggestion:</span>
         <span ng-bind="inputInfo.sugg"></span> 
      </label>
          <label class="item item-input">
        <span class="input-label">Current Tip:</span>
         <span ng-bind="inputInfo.tip"></span> 
      </label>
         
         <br>
         <button ng-click="changeSugg()">Change</button>
     </div>


        <br>
	    <button ng-click="saveResponse()" class="button button-light">Done</button>
	</form>

</div> 
