<div class="padding" ng-controller="customizeController">

<super-navbar>
    <super-navbar-title ng-bind="itenary.get('title')"></super-navbar-title>
      <super-navbar-button side="right"> <b id="plus">+</b></super-navbar-button>
  </super-navbar>
    
    
<div ng-repeat = "event in events | orderBy: ['event.time'] : true" >  
  <span style="display: inline;">
      <button class="button button-small button-calm" id="time">
          <span ng-bind="event.get('time') | date: 'shortTime'"></span>
      </button>
      <button class="button button-positive" id="event"> 
          Ideas for
          <span ng-bind="event.get('title')" ></span>
      </button>
      </span>
    <div ng-repeat = "suggest in event.suggs">
        <span ng-bind = "suggest.get('title')"></span>
    </div>
</div>
    
</div> 


    

    
    
    
    
    
    
    
