<script>
  document.addEventListener("touchmove", function(e){
    e.preventDefault();
  });
</script>
<ul class="list">
  <super-navigate location="example#new"><li class="item" onclick="supersonic.ui.drawers.close()">Create Request</li></super-navigate>
  <super-navigate location ="example#getting-started"><li class="item" onclick="supersonic.ui.drawers.close()" >My Responses</li>
  <super-navigate location="example#GiveRequests"><li class="item" onclick="supersonic.ui.drawers.close()">Home</li></super-navigate>
</ul>
