<div class="padding" ng-controller="TemplateController">
  <super-navbar>
    <super-navbar-title ng-bind="navbarTitle"></super-navbar-title>
  </super-navbar>
    
        <div class="list">
        <div class="item item-divider">
            Travel Plans
        </div>
        <label class="item item-input">
            <span class="input-label">City:</span>
            <input type="text">
        </label>
        <label class="item item-input">
            <span class="input-label">Country:</span>
            <input type="text">
        </label>
        <label class="item item-input">
            <span class="input-label">Date:</span>
            <input type="date">
        </label>
    </div>
    
<div class="form-group" data-ng-repeat="choice in choices">
  <label for="choice" ng-show="showChoiceLabel(choice)">Events</label>
    <div class="list">
        <div class="item item-divider">
            Event
        </div>
        <label class="item item-input">
            <span class="input-label">Title:</span>
            <input type="text" ng-model="choice.title">
        </label>
        <label class="item item-input">
            <span class="input-label">Time:</span>
            <input type="time" ng-model="choice.time">
        </label>
         <label class="item item-input">
            <span class="input-label">Additional Info:</span>
            <input type="text" ng-model="choice.info">
        </label>
    </div>
  <button ng-show="showAddChoice(choice)" ng-click="addNewChoice()">Add another choice</button>

</div>
</div>
