<div class="padding">

  <super-navbar>
    <super-navbar-title>
      Plan It Holiday
    </super-navbar-title>
  </super-navbar>
  
<super-navigate location="example#index">
  <button class="button button-block button-positive" ng-class="active">Kaula Lampur</button>
 </super-navigate>

<super-navigate location="example#index">
  <button class="button button-block button-positive" >Munnar</button>
 </super-navigate>

<super-navigate location="example#index">
  <button class="button button-block button-positive" >Mysore</button>
 </super-navigate>

<super-navigate location="example#index">
  <button class="button button-block button-positive" >Bangalore</button>
 </super-navigate>

<super-navigate location="example#index">
  <button class="button button-block button-positive" >Hyderabad</button>
 </super-navigate>


</div>
