<div class="padding" ng-controller="HomeController">

  <super-navbar>
    <super-navbar-title>
      Plan It Holiday
    </super-navbar-title>
  </super-navbar>
    
<super-navigate location="example#getting-started">
    <button class="button button-block button-positive"><h3 style="color:#FFFFFF">Traveler</h3></button>
</super-navigate>

<super-navigate location="example#feed">
    <button class="button button-block button-positive"><h3 style="color:#FFFFFF">Advisor</h3></button>
</super-navigate>



</div>
