<div ng-controller= "LoginController" class="container">
    
  <form ng-show="scenario == 'Sign up'" role="form">
    <h2>Sign up</h2>
    <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" ng-model="user.email" id="email" placeholder="Enter email"><br />
    </div>
    <div class="form-group">
    <label for="userName">Username:</label>
    <input type="text" class="form-control" ng-model="user.username" id="userName" placeholder="Enter username"><br />
    </div>
    <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" ng-model="user.password" id="pwd" placeholder="Enter password"/><br />
    </div>
    <button class="btn btn-lg btn-primary btn-block" ng-click="signUp(user)">Sign up</button> 
    or <a href="#" ng-click='scenario="Log in"'>Log In</a>
  </form>


    <div ng-show="currentUser">
    <h2>Welcome {{currentUser.get('username')}}</h2>
    <p>You have been successfully logged in</p>

    
    <super-navigate location="example#home">Continue</super-navigate>
    
    <button class="btn btn-lg btn-block btn-danger"ng-click="logOut()">Log out</button>
    </div>


      <form ng-show="scenario == 'Log in'" role="form">
      <h2>Log in</h2>
      <div class="form-group">
      <label for="usrName">Username:</label>
      <input class="form-control" type="text" ng-model="user.username" id="usrName" placeholder="Enter username"/><br />
      </div>
      <div class="form-group" >
      <label for="pwd1">Password:</label>
      <input type="password" class="form-control" ng-model="user.password" id="pwd1" placeholder="Enter password"><br />
      </div>
      <button class="btn btn-lg btn-primary btn-block" ng-click="logIn(user)">Log in</button>
      or <a href="#" ng-click='scenario="Sign up"'>Sign up</a>
    </form>
  
</div>