<div class="padding" ng-controller="TemplateController">
  <super-navbar>
    <super-navbar-title ng-bind="navbarTitle"></super-navbar-title>
  </super-navbar>
<form ng-submit="submitForm()">
        <div class="list">
        <div class="item item-divider">
            Travel Plans
        </div>
        <label class="item item-input">
            <span class="input-label">City:</span>
            <input type="text" ng-model="template.city">
        </label>
<!--
        <label class="item item-input">
            <span class="input-label">Country:</span>
            <input type="text" ng-model="template.country">
        </label>
        <label class="item item-input">
            <span class="input-label">Date:</span>
            <input type="date" ng-model="template.date">
        </label>
-->
    </div>
    <button class="button button-block button-positive">
        Save
    </button>
    </form>
</div>
