<div class="padding" ng-controller="ResponseController">

  <super-navbar>
    <super-navbar-title ng-bind="itenary.get('title')"></super-navbar-title>
      
  </super-navbar>
    
    
<form>
	<div ng-repeat = "event in events" > 
	    
	  
		  <span style="display: inline;">
	
		      <button style="float:left;" class="button button-small col col-20 col-offset-0">
		     	 <span ng-bind="event.get('time') | date: 'shortTime'"></span>
		     </button>

		      
		     <super-navigate location="example#advisorinput" data-params-id="{{event.id}}">
		      <button class="button button-positive col col-80 col-offset-25" id="event"> 
			  Ideas for
			  <span ng-bind="event.get('title')" ></span>
		      </button>

    		  </super-navigate>



		  </span>

	</div>
</form>  
</div> 



