<div class="padding" ng-controller="ResponseController">

  <super-navbar>
    <super-navbar-title ng-bind="itenary.get('title')"></super-navbar-title>
      
  </super-navbar>
    
<form>
	<div ng-repeat = "event in events" > 
        <div class="list card">
            <span style="display: inline;">
                <div style="float:left" class="item item-divider col col-25 col-offset-0 label-padding button-light-blue">
                    <span ng-bind="event.get('time') | date: 'shortTime'"></span>
                </div>

                <div style="font-weight:bold; font-size:18px;" class="item item-divider col col-75 col-offset-25 label-dark-advisor label-padding" ng-click="giveResponse(event.id)"> 
                      Ideas for
                      <span ng-bind="event.get('title')" ></span>
                </div>
            </span>
        
        </div>

	</div>
    <!-- <button  style="margin-top:2%;" class="button button-positive button-dark" ng-click="submitResponse()" ng-show="tips.length > 0">Submit Response</button> -->
    <button  style="margin-top:2%;" class="button button-positive button-dark-advisor" ng-click="submitResponse()">Submit Response</button>
</form>  
</div>
