<div class="padding" ng-controller="TipsController">

  <super-navbar>
  </super-navbar>
    
    <div class="list" id="suggHeader">
        <div class="item item-divider">
            <span>Tips for </span>
            <span ng-bind="suggestion.title"></span>
        </div>
    </div>
    
    <div ng-repeat=" tip in tips">
        <div class="card">
            <div class="item item-divider" style="padding-bottom=5px;background:#66ccff;">
                <span ng-bind="tip.author"></span>
                <span> says: </span>
            </div>
            <div class="item item-text-wrap" ng-bind="tip.title">
            </div>  
        </div>
        
        <div ng-repeat=" tip in tips">
         </div>   
        
    </div>
</div>
